{:duct.profile/base
 {:duct.core/project-ns items

  :items/items-to-db {:system #ig/ref :items.system}
  :items/send-items-daily {:system #ig/ref :items.system}
  :items/test-send-items {:system #ig/ref :items.system}

  :items.system {:logger #ig/ref :duct.logger/timbre
                 :database #ig/ref :duct.database.sql/hikaricp
                 :mail-config {:host #duct/env ["MAIL_HOST" :or "mail.apb.gov.tw"]
                               :port #duct/env ["MAIL_PORT" Int :or 25]
                               :timeout "5000"
                               :connectiontimeout "5000"}
                 :json-path #duct/env ["JSON_PATH" :or "/home/item/upload"]
                 :csv-path #duct/env ["CSV_PATH" :or "./csv"]}

  :duct.logger/timbre
  {:level     :debug
   :appenders {:duct.logger.timbre/rolling #ig/ref :duct.logger.timbre/rolling
               :duct.logger.timbre/brief #ig/ref :duct.logger.timbre/brief}
   :timestamp-opts #ig/ref :items.timestamp-opts}

  :duct.logger.timbre/rolling {:path "logs/items.log"
                               :pattern :daily}
  :duct.logger.timbre/brief {:min-level :report}

  :items.timestamp-opts {:pattern "yyyy-MM-dd HH:mm:ss"
                         :locale "zh_TW"
                         :timezone "Asia/Taipei"}

  :duct.migrator/ragtime
  {:migrations [#ig/ref :items.migrations/create-users
                #ig/ref :items.migrations/create-items
                #ig/ref :items.migrations/create-units
                #ig/ref :items.migrations/create-item-people
                #ig/ref :items.migrations/create-item-list
                #ig/ref :items.migrations/create-all-list
                #ig/ref :items.migrations/create-ipad
                #ig/ref :items.migrations/create-last-time]}

  [:duct.migrator.ragtime/sql :items.migrations/create-last-time]
  {:up [#duct/resource "migrations/create-table-last-time-2019-12-18.sql"]
   :down [#duct/resource "migrations/drop-table-last-time-2019-12-18.sql"]}

  [:duct.migrator.ragtime/sql :items.migrations/create-ipad]
  {:up [#duct/resource "migrations/create-table-ipad-2019-12-17.sql"]
   :down [#duct/resource "migrations/drop-table-ipad-2019-12-17.sql"]}

  [:duct.migrator.ragtime/sql :items.migrations/create-all-list]
  {:up [#duct/resource "migrations/create-table-all-list-2019-12-10.sql"]
   :down [#duct/resource "migrations/drop-table-all-list-2019-12-10.sql"]}

  [:duct.migrator.ragtime/sql :items.migrations/create-item-list]
  {:up [#duct/resource "migrations/create-table-item-list-2019-12-10.sql"]
   :down [#duct/resource "migrations/drop-table-item-list-2019-12-10.sql"]}

  [:duct.migrator.ragtime/sql :items.migrations/create-item-people]
  {:up [#duct/resource "migrations/create-table-item-people-2019-12-10.sql"]
   :down [#duct/resource "migrations/drop-table-item-people-2019-12-10.sql"]}

  [:duct.migrator.ragtime/sql :items.migrations/create-units]
  {:up [#duct/resource "migrations/create-table-units-2019-12-10.sql"]
   :down [#duct/resource "migrations/drop-table-units-2019-12-10.sql"]}

  [:duct.migrator.ragtime/sql :items.migrations/create-items]
  {:up [#duct/resource "migrations/create-table-items-2019-12-10.sql"]
   :down [#duct/resource "migrations/drop-table-items-2019-12-10.sql"]}

  [:duct.migrator.ragtime/sql :items.migrations/create-users]
  {:up [#duct/resource "migrations/create-table-users-2019-12-10.sql"]
   :down [#duct/resource "migrations/drop-table-users-2019-12-10.sql"]}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}

 :duct.module/sql
 {:duct.database.sql/hikaricp
  {:database-url #duct/env ["DATABASE_URL" :or "jdbc:postgresql://localhost/itemdb?user=shun&password=fuck1999"]}}}
